body 
{ margin-left: 8px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size:10px;
  background-image:url(img/background.png);
}
.coverTable
{  width:982px; vertical-align:top; border: none; padding: none;
}
.headerTable
{ background-image:url(img/header.jpg);
  background-repeat:no-repeat;
  width:982px;
  height:64px;
  margin:none;
  vertical-align:top;
}
.headerLine
{ background-image:url(img/header_line.jpg);
  background-repeat:no-repeat;
  width:982px;
  height:20px;
  font-family:Verdana, Arial, Helvetica, sans-serif; 
  font-size:10; 
  color: #FFFFCC; 
/*  font:bolder;
*/
}
.contentTable
{ /*background-image:url(img/bg_yellow.png);*/
/*background-image:url(img/bg_orange.png);*/
  background-image:url(img/bg_white.png);
 /*   background-image:url(img/bgd_line.jpg);*/
  background-repeat:repeat-y;
  font-size:10px;
  font-family:Arial, Helvetica, sans-serif;
  width:100%;
}
#catalog_body
{ font-size:10px;
  text-align: justify;
  color: #FFFFFF;
}
#colljourn_body
{ font-size:10; 
  font-family:Verdana, Arial, Helvetica, sans-serif; 
  color: #333333;
  padding:16px;
}
#colljourn_general
{ font-size:12px; 
  font-family:Verdana, Arial, Helvetica, sans-serif; 
  text-align:justify;
}
.journalInfo
{ font-size:12px;
}
.journalTitle
{ font-size:14px;
}

.paperInfo
{ text-align:justify; 
  font-size:10px; 
  color: #333333;  
  background:#FFFFCC;
}
.paperInfoItems
{ font-size:12px;
  background: #FF9966;
  font-style:italic; 
}
.paperTitle
{ font-size:12px;
  text-transform:capitalize;
}


.footer
{ width:694px;
  height:30px;
  background-image:url(img/footer.gif);
  background-repeat:x-repeat;  
}
.cap_letter_bar
{ font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #ffcc00;
  font-weight: bold;
  font-size: 12px;
  text-align:center;
}
.cap_letter
{ font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #ffcc00;
  font-weight: bold;
  font-size: large;
}
.title_colomn
{ width:150; 
  background-color: #999999; 
  color:#FFFFFF;
  font-size:10px;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  padding: 4px;
}
.title_row
{ background-color: #999999; 
  color:#FFFFFF;
  font-size:10px;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  padding: 4px;
}
.cdata_colomn
{ font-size:10px;
  color:#FFFFCC;
}
a
{ font-family: Verdana, Helvetica;
  font-size: 10px;
  color: #ffcc00;
  text-decoration: none;
}
a:link 
{
}
a:visited 
{
}
a:hover 
{ color: #FF9966; 
  text-decoration: none;
}
.left_header 
{ font-family: Verdana, Helvetica;
  font-size: 10px;
  font-weight: bold;
  color: #666666;
  text-decoration: none;
}
.left_links 
{ font-family:  Verdana, Helvetica;
  font-size: 10px;
  font-weight: normal;
  line-height: 18px;
  color: #ffcc00;
  text-decoration: none;
}
.left_links :hover 
{ font-family: Verdana, Helvetica;
  font-size: 10px;
  color: #3399CC;
  text-decoration: none;
}
.header_links 
{ font-family: Verdana, Helvetica;
  font-size: 10px;
  color: #ffcc00;
  text-decoration: none;
}
.header_links :hover 
{ font-family: Verdana, Helvetica;
  font-size: 10px;
  color: #3399CC;
  text-decoration: none;
}
.footer_links 
{ font-family: Verdana, Helvetica;
  font-size: 10px;
  color: #666666;
  text-decoration: none;
}
.footer_links :hover 
{ font-family: Verdana, Helvetica;
  font-size: 10px;
  color: #3399CC;
  text-decoration: none;
}

footer_links_underlined
{ font-family: Verdana, Helvetica;
  font-size: 10px;
  color: #666666;
  text-decoration: none;
  style=text-decoration:underline;
}





input.text {
	/*float: right;*/
	background-color: #fff;
	border: 1px solid #ccc;
	/*width: 360px;*/
	padding: 3px 0px 3px 5px;
	/*margin-bottom: 6px;*/
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	font-weight: normal;
}

input.Form {
	/*float: right;*/
	background-color: #fff;
	border: 1px solid #ccc;
	/*width: 360px;*/
	padding: 3px 0px 3px 5px;
	/*margin-bottom: 6px;*/
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	font-weight: normal;
}

input.text:hover, input.text:focus {
	border: 1px solid #999;
}

input.radio {
	/*float: left;*/
	/*width: 10px;*/
	padding: 3px 0px 3px 5px;
}

textarea {
	background-color: #fff;
	border: 1px solid #ccc;
	width: 536px;
	padding: 3px 0px 3px 5px;
	margin-bottom: 6px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	font-weight: normal;
}

textarea:hover, textarea:focus {
	border: 1px solid #999;
}

#input_elements #bvl {
	float: left;
	background-color: #fff;
	border: 1px solid #ccc;
	width: 130px;
	padding: 3px 3px 3px 5px;
	margin-bottom: 6px;
	margin-right: 6px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
}

#input_elements #vgr {
	float: left;
	background-color: #fff;
	border: 1px solid #ccc;
	width: 200px;
	padding: 3px 3px 3px 5px;
	margin-bottom: 6px;
	margin-right: 6px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
}

optgroup, option {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	font-style: normal;
}

#input_elements select {
	/*float: left;*/
	background-color: #fff;
	border: 1px solid #ccc;
	/*width: 130px;*/
	padding: 3px 3px 3px 5px;
	/*margin-bottom: 6px;*/
	margin-right: 6px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	font-weight: normal;
}

#input_elements select:hover, textarea:focus {
	border: 1px solid #999;
}

#input_elements p {
	margin: 0 0 6px 0;
	padding: 0;
}

.submitButton
{
}


/* form elements style*/
/*----- QuickSearch - Find Database  styles -----*/
/*----- QuickSearch - Find Database  form area -----*/
/** YYY **/

#search_basic a.ub_dark{
        background-color: #4d688c;
        border: none;
        color: #fff;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 75%;
        padding: 3px 8px 3px 8px;
        margin: 0;
        text-decoration: none;
}

#search_basic a.ub_dark:hover, #search_basic a.ub_dark:focus {
        background-color: #036;
        color: #fff;
        text-decoration: none;
}

#search_basic a.ub_light {
        background-color: #ccd6e0;
        border: none;
        color: #4d688c;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 75%;
        padding: 3px 8px 3px 8px;
        margin: 0;
        text-decoration: none;
}

#search_basic a.ub_light:hover, a.ub_light:focus {
        background-color: #b5c3d1;
        text-decoration: none;
}



.ub_dark{
        background-color: #4d688c;
        border: none;
        color: #fff;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 75%;
        padding: 3px 8px 3px 8px;
        margin: 0;
        text-decoration: none;
}

.ub_dark:hover, a.ub_dark:focus {
        background-color: #036;
        color: #fff;
        text-decoration: none;
}

.ub_light {
        background-color: #ccd6e0;
        border: none;
        color: #4d688c;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 75%;
        padding: 3px 8px 3px 8px;
        margin: 0;
        text-decoration: none;
}

.ub_light:hover, a.ub_light:focus {
        background-color: #b5c3d1;
        text-decoration: none;
}




/*
-----------------------------------------------------------------------------------
*/

.submit_buttons
{ background-color: #CCCCCC;
  border: #666666;
  border:2px;
  margin:2px;
  padding:4px;
  text-align:center;
  font-family: Verdana, Helvetica;
  font-size: 10px;
  font-weight: bold;
  color: #666666;
  text-decoration: none;
}
/** css buttons **/
#css_buttons 
{ width: auto;
  white-space: nowrap;
  float: right;
  margin-top: 85px;
  margin-right: 20px;
}
#css_buttons a 
{  margin-right: 1px;
}
.tdata
{ font-size:10px;
  color: #333333;
  font-family:Verdana, Arial, Helvetica, sans-serif;
}
.twdata
{ font-size:10px;
  color: #FFFFFF;
  font-family:Verdana, Arial, Helvetica, sans-serif;
}
/*---------------------------------------------------------------------------------------------------------
---
---  tab navigation
---
---------------------------------------------------------------------------------------------------------*/
#navcontainer
{ border: none;
  padding:0;
  margin:0;
  background-image: url(img/header_line.jpg);
  background-repeat: no-repeat;
}
#navlist
{
  padding: 3px 165px;
  margin-left: 0;  
  border-bottom: 1px solid #778;
  font: bold 10px sans-serif;
  color:#0066FF;
  ## z-index: 100; 
  width: 652;
  vertical-align:top;
  margin-top:0px;
  margin-bottom:1px;
}
#navlist li
{ list-style: none;
  display: inline; 
}
#navlist li a
{ margin-left: 2px;
  padding: 3px;
  border: 1px solid #778;
  border-bottom: none;
  background: #DDE;
  text-decoration: none;
}
#navlist li a:link 
{ color: #aaaaaa; 
}
#navlist li a:visited 
{ color: #aaaaaa; 
}
#navlist li a:hover
{ border-color: #227;
  background: white;
}
#navlist li a.current
{ border-bottom: 2px solid white; 
  color: black;
  background: white;
}
div.tab 
{ display: none;
  width:982;
  margin: 0 0 0 0;
  padding: 0;
  vertical-align:top;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:10px;
  background-image: url(img/bg_blue.png);
  background-repeat:repeat-y;    
}
div.opentab 
{ width:982;
  margin: 0 0 0 0;
  padding: 0;
  vertical-align:top;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:10px;
  background-image: url(img/bg_blue.png);
  background-repeat:repeat-y;  
}


/* vertical menu */
#leftnav, #leftnav ul {list-style:none; margin:0; padding:0}

#leftnav a {padding:1px 20px 1px 20px; font-size: 12px; color: #666666; text-decoration:none; margin:0; display:block;}

#leftnav a.navon {padding:1px 20px 1px 20px; color: #0066FF; text-decoration:none; margin:0; display:block;}


#leftnav li {font-family: Verdana,Arial,Helvetica; font-size: 12px; font-weight: normal; letter-spacing:-1px; float:left;  width:160px; background-color:#EEEEEE; padding:0px; padding-top:0}

#leftnav a:hover {color:#FFFFFF; background-color:#595954}/*{color: #0066FF}*/ 

#leftnav li ul {position:absolute; left:-999em; width:150px; background-color:#D1D1CF; 
margin:-19px 0 0 150px; border-top:solid 3px #595954; padding:0px; padding-top:4px}

#leftnav li:hover ul ul, #leftnav li.sfhover ul ul {left: -999em;}

#leftnav li:hover ul, #leftnav li li:hover ul, #leftnav li.sfhover ul, #leftnav li li.sfhover ul {left: auto}

#leftnav li ul li {font-weight:normal; letter-spacing:normal; border-bottom:solid 1px #AAAAAA; width:230px;}

#leftnav li ul li a {font-weight:normal; font-size:11px; font-family: Verdana,Arial,Helvetica; color:#595954; border:none; padding:3px 0px 3px 20px; width:auto; display:block}

#leftnav li ul li a:hover {font-weight:normal; font-size:11px; font-family: Verdana,Arial,Helvetica; color:#FFFFFF; border:none; padding:3px 0px 3px 20px; width:auto; display:block; background-color:#595954}

#leftnav li ul ul {position:absolute; left:-999em; width:230px; background-color:#D1D1CF; border-top:solid 1px #AAAAAA; padding:0px; padding-top:0; border-left:solid 1px #AAAAAA; }

#leftnav li:hover ul ul ul, #leftnav li.sfhover ul ul ul {left: -999em;}

#leftnav li:hover ul, #leftnav li li li:hover ul, #leftnav li.sfhover ul, #leftnav li li li.sfhover ul {left: auto}